# ดัชนีราคาผู้บริโภคทั่วไป (Consumer Price Index)

แหล่งข้อมูล: https://data.moc.go.th/OpenData/CPIGIndexes

## Query Parameters

| Name | Data type | Description | Default |
| --- | --- | --- | --- |
| region_id | Integer | รหัสภูมิภาค (0 = กรุงเทพและปริมณฑล, 1 = ภาคกลาง, 2 = ภาคตะวันออกเฉียงเหนือ, 3 = ภาคเหนือ, 4 = ภาคใต้, 5 = ประเทศ) | - |
| index_id | String | รหัสหมวด / กลุ่มดัชนี | 0000000000000000 |
| from_year | Integer | ปีที่จัดทำดัชนีเริ่มต้น (ค.ศ.) | - |
| to_year | Integer | ปีที่จัดทำดัชนีสิ้นสุด (ค.ศ.) | - |

Link API: https://dataapi.moc.go.th/cpig-indexes

Example: https://dataapi.moc.go.th/cpig-indexes?region_id=1&index_id=1000000000000000&from_year=2017&to_year=2019

- ค้นหาข้อมูลใน **ภาคกลาง**
- รหัสหมวดที่ **1000000000000000**
- ปีที่จัดทำดัชนีเริ่มต้นที่ปี **2017**
- ปีที่จัดทำดัชนีสิ้นสุดที่ปี **2020**

## Responses

Type: Array

- ผลลัพธ์จะมีการเรียงลำดับโดยปีที่จัดทำดัชนี ตามด้วยเดือนที่จัดทำดัชนี ตามด้วยรหัสภูมิภาค

| Name | Data type | Description |
| --- | --- | --- |
| index_id | String | รหัสหมวด / กลุ่มดัชนี |
| index_description | String | ชื่อหมวด / กลุ่มดัชนี |
| region_id | Integer | รหัสภูมิภาค |
| region_name | String | ชื่อภูมิภาค |
| base_year | 	Integer	 | ปีฐานดัชนี |
| year | 	Integer	 | ปีที่จัดทำดัชนี |
| month | 	Integer	 | เดือนที่จัดทำดัชนี |
| price_index | Float | ดัชนีราคา |
| mom | Float | อัตราการเปลี่ยนแปลงเทียบกับเดือนก่อนหน้า |
| yoy | Float | อัตราการเปลี่ยนแปลงเทียบกับเดือนเดียวกันปีก่อนหน้า |
| aoa | Float | อัตราการเปลี่ยนแปลงเทียบกับช่วงเดียวกันปีก่อนหน้า |

## รหัสหมวด/กลุ่มดัชนี (Index_id)

In [91]:
import pandas as pd
index_id_df = pd.read_csv('data/รหัสหมวดดัชนี CPI_INDEX 31-8-2020.csv')
index_id_df

        รหัสดัชนี                            ชื่อหมวด/กลุ่มดัชนี
0    0.000000e+00                                   รวมทุกรายการ
1    1.000000e+15          หมวดอาหารและเครื่องดื่มไม่มีแอลกอฮอล์
2    1.100000e+15                               อาหารปรุงที่บ้าน
3    1.110000e+15                  ข้าว  แป้งและผลิตภัณฑ์จากแป้ง
4    1.110000e+15                                           ข้าว
..            ...                                            ...
185  9.510000e+15                             น้ำมัน 91 95 ดีเซล
186  9.520000e+15                   CPI ไม่รวมน้ำมัน 91 95 ดีเซล
187  9.600000e+15  CPI ไม่รวมน้ำมัน 91 95 ดีเซล และรายการของ คน.
188  9.700000e+15                              CPI ไม่รวมอาหารสด
189  9.800000e+15                              CPI ไม่รวมพลังงาน

[190 rows x 2 columns]

## ดึงข้อมูล

In [92]:
import json, urllib
import pandas as pd

In [93]:
CPI_Index = pd.read_csv("data/รหัสหมวดดัชนี CPI_INDEX 31-8-2020.csv")
CPI_index_id = CPI_Index['รหัสดัชนี']
CPI_index_id_list = CPI_index_id.tolist()
# CPI_index_id_list

In [94]:
data = []

def addData(lists):
    for i in range(len(lists)):
        data.append(lists[i])

In [4]:
region_id = "1" #ภาคกลาง
from_year="2017"
to_year="2020"

# url = 'https://dataapi.moc.go.th/cpig-indexes?region_id=1&index_id=1000000000000000&from_year=2017&to_year=2019'

for i in CPI_index_id_list:
    url = "https://dataapi.moc.go.th/cpig-indexes?region_id=" + region_id + "&index_id=" + str(int(i)) + ('0' * (16 - len(str(int(i))) ) ) + "&from_year=" + from_year + "&to_year=" + to_year
#     print(url)
    
    response = urllib.request.urlopen(url)
    raw_json = response.read().decode("utf-8")
    addData(json.loads(raw_json))
    
print(len(data))

7486

In [5]:
df = pd.json_normalize(data)
df

,index_id,index_description,region_id,region_name,base_year,year,month,price_index,mon,yoy,aoa
0,0000000000000000,รวมทุกรายการ,1,ภาคกลาง,2015,2017,1,100.71,0.31,1.63,1.63
1,0000000000000000,รวมทุกรายการ,1,ภาคกลาง,2015,2017,2,100.81,0.10,1.56,1.59
2,0000000000000000,รวมทุกรายการ,1,ภาคกลาง,2015,2017,3,100.32,-0.49,0.83,1.34
3,0000000000000000,รวมทุกรายการ,1,ภาคกลาง,2015,2017,4,100.47,0.15,0.32,1.09
4,0000000000000000,รวมทุกรายการ,1,ภาคกลาง,2015,2017,5,100.70,0.23,-0.06,0.85
...,...,...,...,...,...,...,...,...,...,...,...
7481,9520000000000000,"CPI ไม่รวมน้ำมัน 91 , 95 , ดีเซล",1,ภาคกลาง,2015,2020,7,102.14,0.54,-0.62,-0.97
7482,9700000000000000,CPI ไม่รวมอาหารสด,1,ภาคกลาง,2015,2019,11,102.31,0.08,-0.58,-0.24
7483,9700000000000000,CPI ไม่รวมอาหารสด,1,ภาคกลาง,2015,2019,12,102.38,0.07,0.21,-0.21
7484,9800000000000000,CPI ไม่รวมพลังงาน,1,ภาคกลาง,2015,2019,11,102.96,-0.18,0.34,0.87
7485,9800000000000000,CPI ไม่รวมพลังงาน,1,ภาคกลาง,2015,2019,12,102.87,-0.09,0.44,0.83

In [6]:
df.isna().sum()

index_id             0
index_description    0
region_id            0
region_name          0
base_year            0
year                 0
month                0
price_index          0
mon                  0
yoy                  0
aoa                  0
dtype: int64

## Save df to csv

In [59]:
df.to_csv('data/data.csv', header=True, index=False, encoding='utf-8-sig')

## load csv file

In [95]:
import pandas as pd

In [96]:
df = pd.read_csv('data/data.csv')
df

,index_id,index_description,region_id,region_name,base_year,year,month,price_index,mon,yoy,aoa
0,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,1,100.71,0.31,1.63,1.63
1,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,2,100.81,0.10,1.56,1.59
2,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,3,100.32,-0.49,0.83,1.34
3,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,4,100.47,0.15,0.32,1.09
4,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,5,100.70,0.23,-0.06,0.85
...,...,...,...,...,...,...,...,...,...,...,...
7481,9520000000000000,"CPI ไม่รวมน้ำมัน 91 , 95 , ดีเซล",1,ภาคกลาง,2015,2020,7,102.14,0.54,-0.62,-0.97
7482,9700000000000000,CPI ไม่รวมอาหารสด,1,ภาคกลาง,2015,2019,11,102.31,0.08,-0.58,-0.24
7483,9700000000000000,CPI ไม่รวมอาหารสด,1,ภาคกลาง,2015,2019,12,102.38,0.07,0.21,-0.21
7484,9800000000000000,CPI ไม่รวมพลังงาน,1,ภาคกลาง,2015,2019,11,102.96,-0.18,0.34,0.87
7485,9800000000000000,CPI ไม่รวมพลังงาน,1,ภาคกลาง,2015,2019,12,102.87,-0.09,0.44,0.83

In [97]:
countGroup = df['index_description'].groupby(df['index_description']).count()
dictCountGroup = countGroup.to_dict()
{k: v for k, v in sorted(dictCountGroup.items(), key=lambda item: item[1])}

{'CPI ไม่รวมพลังงาน': 2,
 'CPI ไม่รวมอาหารสด': 2,
 'CPI ไม่รวมน้ำมัน 91 , 95 , ดีเซล': 43,
 'กลุ่มอาหารสดและพลังงาน': 43,
 'กางเกงบุรุษ': 43,
 'กางเกงสตรีและกระโปรงสตรี': 43,
 'กางเกงเด็ก': 43,
 'การบันเทิงและการอ่าน': 43,
 'การศาสนา': 43,
 'การศึกษา': 43,
 'การศึกษาระดับประถมศึกษา': 43,
 'การศึกษาระดับมัธยมศึกษา ด้านเทคนิคและอาชีวะ': 43,
 'การศึกษาระดับมัธยมศึกษาสายสามัญ': 43,
 'การศึกษาระดับอุดมศึกษา': 43,
 'การสื่อสาร': 43,
 'ของเล่น': 43,
 'ข้าว': 43,
 'ข้าว  แป้งและผลิตภัณฑ์จากแป้ง': 43,
 'คนรับใช้ / คนงาน': 43,
 'คนไข้นอก': 43,
 'คนไข้ใน': 43,
 'ค่าการบันเทิง': 43,
 'ค่าของใช้ส่วนบุคคล': 43,
 'ค่าจ้าง': 43,
 'ค่าจ้างตัดเย็บและอุปกรณ์': 43,
 'ค่าซื้อยานพาหนะ': 43,
 'ค่าซ่อมแซม': 43,
 'ค่าซ่อมแซมและดูแลรักษา': 43,
 'ค่าตรวจรักษา ค่าบริการ และค่ายาของคนไข้ใน': 43,
 'ค่าตรวจรักษาและค่ายา': 43,
 'ค่าตรวจวินิจฉัยทางห้องปฏิบัติการ': 43,
 'ค่าตรวจโรครักษา ค่าบริการ และค่ายาของคนไข้นอก': 43,
 'ค่าทำฟัน': 43,
 'ค่าที่พักอาศัย': 43,
 'ค่าธรรมเนียมและค่าสมาชิก': 43,
 'ค่าบริการการสื่อสาร': 43,
 'ค่าบริการด้านรังสี': 43,
 'ค่าบริการบำรุงรักษายานยนต์': 43,
 'ค่าบริการส่วนบุคคล': 43,
 'ค่าบริการส่วนบุคคลเพื่อความผ่านคลาย': 43,
 'ค่าบริการส่วนบุคคลเพื่อความสวยงาม': 43,
 'ค่าบัตรประกันสุขภาพและประกันชีวิต': 43,
 'ค่าประกันภัยรถ': 43,
 'ค่าภาษี': 43,
 'ค่าภาษีและประกันภัยรถยนต์': 43,
 'ค่ายา': 43,
 'ค่ายาและเวชภัณฑ์': 43,
 'ค่ารักษาพยาบาล': 43,
 'ค่าอาหาร ของถวายพระ ไหว้เจ้าและอื่น ๆ': 43,
 'ค่าอุปกรณ์การบันเทิง': 43,
 'ค่าอุปกรณ์กีฬาและเครื่องเล่น': 43,
 'ค่าเช่า': 43,
 'ค่าเรียนพิเศษ': 43,
 'ค่าเล่าเรียนและค่าธรรมเนียมการศึกษา': 43,
 'ค่าแรง': 43,
 'ค่าโดยสารนอกท้องถิ่น': 43,
 'ค่าโดยสารสาธารณะ': 43,
 'ค่าโดยสารในท้องถิ่น': 43,
 'ค่าใช้จ่ายส่วนบุคคล': 43,
 'ค่าใช้จ่ายอื่น ๆ เกี่ยวกับการศึกษา': 43,
 'ค่าใช้จ่ายเกี่ยวกับการทำสวนประดับบ้าน': 43,
 'ค่าใช้จ่ายเกี่ยวกับการอ่าน': 43,
 'ค่าใช้จ่ายเกี่ยวกับสัตว์เลี้ยง': 43,
 'ค่าใช้จ่ายในการเดินทางโอกาสพิเศษและท่องเที่ยว': 43,
 'ดัชนีราคาผู้บริโภคพื้นฐาน': 43,
 'ดัชนีราคาผู้บริโภคพื้นฐาน (ไม่รวมค่าเช่าบ้าน)': 43,
 'นมและผลิตภัณฑ์นม': 43,
 'น้ำตาลและขนมหวาน': 43,
 'น้ำประปา': 43,
 'น้ำมัน 91 , 95 , ดีเซล': 43,
 'น้ำมันเชื้อเพลิง': 43,
 'น้ำมันและไขมัน': 43,
 'บริภัณฑ์อื่น ๆ': 43,
 'บุรุษ': 43,
 'ปลาน้ำจืดสด': 43,
 'ปลาน้ำทะเลสด': 43,
 'ปลาแปรรูป': 43,
 'ปลาและสัตว์น้ำ': 43,
 'ผลิตภัณฑ์จากแป้ง': 43,
 'ผลิตภัณฑ์น้ำตาล': 43,
 'ผลิตภัณฑ์ยาสูบ': 43,
 'ผลิตภัณฑ์รองเท้า': 43,
 'ผลิตภัณฑ์สุรา': 43,
 'ผลิตภัณฑ์เบียร์': 43,
 'ผลิตภัณฑ์ไวน์': 43,
 'ผลไม้สด': 43,
 'ผลไม้สดแปรรูปและอื่นๆ': 43,
 'ผลไม้แปรรูปและอื่น ๆ': 43,
 'ผักสด': 43,
 'ผักสดแปรรูปและอื่นๆ': 43,
 'ผักแปรรูปและอื่นๆ': 43,
 'ผักและผลไม้': 43,
 'ผ้าและเสื้อผ้า': 43,
 'พลังงาน': 43,
 'ยานพาหนะ': 43,
 'ยานพาหนะและน้ำมันเชื้อเพลิง': 43,
 'รวมทุกรายการ': 43,
 'รองเท้ากีฬาและผ้าใบบุรุษ': 43,
 'รองเท้ากีฬาและผ้าใบสตรี': 43,
 'รองเท้ากีฬาและผ้าใบเด็ก': 43,
 'รองเท้าบุรุษ': 43,
 'รองเท้าสตรี': 43,
 'รองเท้าหุ้มส้นบุรุษ': 43,
 'รองเท้าหุ้มส้นสตรี': 43,
 'รองเท้าเด็ก': 43,
 'รองเท้าแตะบุรุษ': 43,
 'รองเท้าแตะสตรี': 43,
 'รองเท้าแตะเด็ก': 43,
 'วัสดุก่อสร้าง': 43,
 'สตรี': 43,
 'สัตว์น้ำ': 43,
 'สัตว์น้ำแปรรูป': 43,
 'สิ่งทอสำหรับใช้ในบ้าน': 43,
 'สิ่งที่เกี่ยวกับทำความสะอาด': 43,
 'หนังสือ': 43,
 'หนังสือแบบเรียนเอกชน': 43,
 'หนังสือและอุปกรณ์การศึกษา': 43,
 'หมวดการตรวจรักษาและบริการส่วนบุคคล': 43,
 'หมวดการบันเทิงการอ่าน การศึกษา และการศาสนา': 43,
 'หมวดพาหนะ การขนส่ง และการสื่อสาร': 43,
 'หมวดยาสูบและเครื่องดื่มมีแอลกอฮอล์': 43,
 'หมวดอาหารและเครื่องดื่มไม่มีแอลกอฮอล์': 43,
 'หมวดอื่น ๆ ไม่ใช่อาหาร และเครื่องดื่ม': 43,
 'หมวดเครื่องนุ่งห่มและรองเท้า': 43,
 'หมวดเคหสถาน': 43,
 'อาหารบริโภค-นอกบ้าน': 43,
 'อาหารบริโภค-ในบ้าน': 43,
 'อาหารปรุงที่บ้าน': 43,
 'อาหารสด': 43,
 'อาหารสำเร็จรูป': 43,
 'อาหารและเครื่องดื่ม (ไม่รวมอาหารสด)': 43,
 'อุปกรณ์กีฬา': 43,
 'อุปกรณ์ซ่อมแซมบ้าน': 43,
 'อุปกรณ์ยานพาหนะ': 43,
 'อุปกรณ์เกี่ยวกับการศึกษา': 43,
 'เครื่องดื่มมีแอลกอฮอลล์': 43,
 'เครื่องดื่มไม่มีแอลกอฮอล์': 43,
 'เครื่องถวายพระ': 43,
 'เครื่องประกอบอาหาร': 43,
 'เครื่องประดับบุรุษ': 43,
 'เครื่องปรุงรส': 43,
 'เครื่องปรุงอาหาร': 43,
 'เครื่องรับอุปกรณ์สื่อสาร': 43,
 'เครื่องสุขภัณฑ์': 43,
 'เครื่องแต่งบ้าน': 43,
 'เครื่องแต่งบ้านและบริภัณฑ์อื่นๆ': 43,
 'เครื่องแบบชาย': 43,
 'เครื่องแบบหญิง': 43,
 'เครื่องแบบเด็ก': 43,
 'เครื่องใช้เบ็ดเตล็ดในบ้าน': 43,
 'เชื้อเพลิงในบ้าน': 43,
 'เด็ก': 43,
 'เนื้อสัตว์': 43,
 'เนื้อสัตว์ เป็ดไก่ และสัตว์น้ำ': 43,
 'เนื้อสัตว์สด': 43,
 'เนื้อสัตว์แปรรูป': 43,
 'เป็ด ไก่': 43,
 'เป็ด ไก่  สด': 43,
 'เป็ด ไก่  สำเร็จรูปและแปรรูป': 43,
 'เวชภัณฑ์': 43,
 'เสื้อบุรุษ': 43,
 'เสื้อผ้าบุรุษอื่นๆ': 43,
 'เสื้อผ้าสตรีอื่นๆ': 43,
 'เสื้อผ้าเด็กอื่นๆ': 43,
 'เสื้อสตรี': 43,
 'เสื้อเด็ก': 43,
 'แป้ง': 43,
 'แป้งและผลิตภัณฑ์จากแป้ง': 43,
 'แสงสว่าง': 43,
 'ไข่': 43,
 'ไข่และผลิตภัณฑ์นม': 43,
 'ไฟฟ้า': 43,
 'ไฟฟ้า  เชื้อเพลิง  น้ำประปาและแสงสว่าง': 43,
 'ไม่รวมอาหาร เครื่องดื่ม และพลังงาน': 43,
 'ค่าบริการอื่น ๆ': 86}

In [98]:
df = df[df.index_description != 'CPI ไม่รวมพลังงาน']
df = df[df.index_description != 'CPI ไม่รวมอาหารสด']
df

,index_id,index_description,region_id,region_name,base_year,year,month,price_index,mon,yoy,aoa
0,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,1,100.71,0.31,1.63,1.63
1,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,2,100.81,0.10,1.56,1.59
2,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,3,100.32,-0.49,0.83,1.34
3,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,4,100.47,0.15,0.32,1.09
4,0,รวมทุกรายการ,1,ภาคกลาง,2015,2017,5,100.70,0.23,-0.06,0.85
...,...,...,...,...,...,...,...,...,...,...,...
7477,9520000000000000,"CPI ไม่รวมน้ำมัน 91 , 95 , ดีเซล",1,ภาคกลาง,2015,2020,3,101.92,-0.66,-0.43,0.26
7478,9520000000000000,"CPI ไม่รวมน้ำมัน 91 , 95 , ดีเซล",1,ภาคกลาง,2015,2020,4,100.04,-1.84,-2.70,-0.48
7479,9520000000000000,"CPI ไม่รวมน้ำมัน 91 , 95 , ดีเซล",1,ภาคกลาง,2015,2020,5,100.19,0.15,-2.94,-0.99
7480,9520000000000000,"CPI ไม่รวมน้ำมัน 91 , 95 , ดีเซล",1,ภาคกลาง,2015,2020,6,101.59,1.40,-1.21,-1.01
7481,9520000000000000,"CPI ไม่รวมน้ำมัน 91 , 95 , ดีเซล",1,ภาคกลาง,2015,2020,7,102.14,0.54,-0.62,-0.97

In [99]:
df[df.index_description == 'ค่าบริการอื่น ๆ']

,index_id,index_description,region_id,region_name,base_year,year,month,price_index,mon,yoy,aoa
4472,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,1,100.0,0.0,0.0,0.0
4473,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,2,100.0,0.0,0.0,0.0
4474,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,3,100.0,0.0,0.0,0.0
4475,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,4,100.0,0.0,0.0,0.0
4476,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,5,100.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4682,4122400000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,3,100.0,0.0,0.0,0.0
4683,4122400000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,4,100.0,0.0,0.0,0.0
4684,4122400000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,5,100.0,0.0,0.0,0.0
4685,4122400000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,6,100.0,0.0,0.0,0.0
4686,4122400000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,7,100.0,0.0,0.0,0.0

In [100]:
df_1 = df[df.index_id == 4121500000000000].drop(columns = ['index_id'])
df_2 = df[df.index_id == 4122400000000000].drop(columns = ['index_id'])
print(df_1.describe())
print()
print(df_2.describe())

       region_id  base_year         year      month  price_index   mon   yoy  \
count       43.0       43.0    43.000000  43.000000         43.0  43.0  43.0
mean         1.0     2015.0  2018.325581   6.093023        100.0   0.0   0.0
std          0.0        0.0     1.062811   3.428271          0.0   0.0   0.0
min          1.0     2015.0  2017.000000   1.000000        100.0   0.0   0.0
25%          1.0     2015.0  2017.000000   3.000000        100.0   0.0   0.0
50%          1.0     2015.0  2018.000000   6.000000        100.0   0.0   0.0
75%          1.0     2015.0  2019.000000   9.000000        100.0   0.0   0.0
max          1.0     2015.0  2020.000000  12.000000        100.0   0.0   0.0

        aoa
count  43.0
mean    0.0
std     0.0
min     0.0
25%     0.0
50%     0.0
75%     0.0
max     0.0

       region_id  base_year         year      month  price_index   mon   yoy  \
count       43.0       43.0    43.000000  43.000000         43.0  43.0  43.0
mean         1.0     2015.0  2018.325581   6.093023        100.0   0.0   0.0
std          0.0        0.0     1.062811   3.428271          0.0   0.0   0.0
min          1.0     2015.0  2017.000000   1.000000        100.0   0.0   0.0
25%          1.0     2015.0  2017.000000   3.000000        100.0   0.0   0.0
50%          1.0     2015.0  2018.000000   6.000000        100.0   0.0   0.0
75%          1.0     2015.0  2019.000000   9.000000        100.0   0.0   0.0
max          1.0     2015.0  2020.000000  12.000000        100.0   0.0   0.0

        aoa
count  43.0
mean    0.0
std     0.0
min     0.0
25%     0.0
50%     0.0
75%     0.0
max     0.0

In [101]:
df = df[df.index_id != 4122400000000000]
df[df.index_description == 'ค่าบริการอื่น ๆ']

,index_id,index_description,region_id,region_name,base_year,year,month,price_index,mon,yoy,aoa
4472,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,1,100.0,0.0,0.0,0.0
4473,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,2,100.0,0.0,0.0,0.0
4474,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,3,100.0,0.0,0.0,0.0
4475,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,4,100.0,0.0,0.0,0.0
4476,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,5,100.0,0.0,0.0,0.0
4477,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,6,100.0,0.0,0.0,0.0
4478,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,7,100.0,0.0,0.0,0.0
4479,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,8,100.0,0.0,0.0,0.0
4480,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,9,100.0,0.0,0.0,0.0
4481,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,10,100.0,0.0,0.0,0.0
4482,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,11,100.0,0.0,0.0,0.0
4483,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2017,12,100.0,0.0,0.0,0.0
4484,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,1,100.0,0.0,0.0,0.0
4485,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,2,100.0,0.0,0.0,0.0
4486,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,3,100.0,0.0,0.0,0.0
4487,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,4,100.0,0.0,0.0,0.0
4488,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,5,100.0,0.0,0.0,0.0
4489,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,6,100.0,0.0,0.0,0.0
4490,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,7,100.0,0.0,0.0,0.0
4491,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,8,100.0,0.0,0.0,0.0
4492,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,9,100.0,0.0,0.0,0.0
4493,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,10,100.0,0.0,0.0,0.0
4494,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,11,100.0,0.0,0.0,0.0
4495,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2018,12,100.0,0.0,0.0,0.0
4496,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,1,100.0,0.0,0.0,0.0
4497,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,2,100.0,0.0,0.0,0.0
4498,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,3,100.0,0.0,0.0,0.0
4499,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,4,100.0,0.0,0.0,0.0
4500,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,5,100.0,0.0,0.0,0.0
4501,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,6,100.0,0.0,0.0,0.0
4502,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,7,100.0,0.0,0.0,0.0
4503,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,8,100.0,0.0,0.0,0.0
4504,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,9,100.0,0.0,0.0,0.0
4505,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,10,100.0,0.0,0.0,0.0
4506,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,11,100.0,0.0,0.0,0.0
4507,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2019,12,100.0,0.0,0.0,0.0
4508,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,1,100.0,0.0,0.0,0.0
4509,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,2,100.0,0.0,0.0,0.0
4510,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,3,100.0,0.0,0.0,0.0
4511,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,4,100.0,0.0,0.0,0.0
4512,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,5,100.0,0.0,0.0,0.0
4513,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,6,100.0,0.0,0.0,0.0
4514,4121500000000000,ค่าบริการอื่น ๆ,1,ภาคกลาง,2015,2020,7,100.0,0.0,0.0,0.0

In [102]:
countGroup = df['index_description'].groupby(df['index_description']).count()
dictCountGroup = countGroup.to_dict()
{k: v for k, v in sorted(dictCountGroup.items(), key=lambda item: item[1])}

{'CPI ไม่รวมน้ำมัน 91 , 95 , ดีเซล': 43,
 'กลุ่มอาหารสดและพลังงาน': 43,
 'กางเกงบุรุษ': 43,
 'กางเกงสตรีและกระโปรงสตรี': 43,
 'กางเกงเด็ก': 43,
 'การบันเทิงและการอ่าน': 43,
 'การศาสนา': 43,
 'การศึกษา': 43,
 'การศึกษาระดับประถมศึกษา': 43,
 'การศึกษาระดับมัธยมศึกษา ด้านเทคนิคและอาชีวะ': 43,
 'การศึกษาระดับมัธยมศึกษาสายสามัญ': 43,
 'การศึกษาระดับอุดมศึกษา': 43,
 'การสื่อสาร': 43,
 'ของเล่น': 43,
 'ข้าว': 43,
 'ข้าว  แป้งและผลิตภัณฑ์จากแป้ง': 43,
 'คนรับใช้ / คนงาน': 43,
 'คนไข้นอก': 43,
 'คนไข้ใน': 43,
 'ค่าการบันเทิง': 43,
 'ค่าของใช้ส่วนบุคคล': 43,
 'ค่าจ้าง': 43,
 'ค่าจ้างตัดเย็บและอุปกรณ์': 43,
 'ค่าซื้อยานพาหนะ': 43,
 'ค่าซ่อมแซม': 43,
 'ค่าซ่อมแซมและดูแลรักษา': 43,
 'ค่าตรวจรักษา ค่าบริการ และค่ายาของคนไข้ใน': 43,
 'ค่าตรวจรักษาและค่ายา': 43,
 'ค่าตรวจวินิจฉัยทางห้องปฏิบัติการ': 43,
 'ค่าตรวจโรครักษา ค่าบริการ และค่ายาของคนไข้นอก': 43,
 'ค่าทำฟัน': 43,
 'ค่าที่พักอาศัย': 43,
 'ค่าธรรมเนียมและค่าสมาชิก': 43,
 'ค่าบริการการสื่อสาร': 43,
 'ค่าบริการด้านรังสี': 43,
 'ค่าบริการบำรุงรักษายานยนต์': 43,
 'ค่าบริการส่วนบุคคล': 43,
 'ค่าบริการส่วนบุคคลเพื่อความผ่านคลาย': 43,
 'ค่าบริการส่วนบุคคลเพื่อความสวยงาม': 43,
 'ค่าบริการอื่น ๆ': 43,
 'ค่าบัตรประกันสุขภาพและประกันชีวิต': 43,
 'ค่าประกันภัยรถ': 43,
 'ค่าภาษี': 43,
 'ค่าภาษีและประกันภัยรถยนต์': 43,
 'ค่ายา': 43,
 'ค่ายาและเวชภัณฑ์': 43,
 'ค่ารักษาพยาบาล': 43,
 'ค่าอาหาร ของถวายพระ ไหว้เจ้าและอื่น ๆ': 43,
 'ค่าอุปกรณ์การบันเทิง': 43,
 'ค่าอุปกรณ์กีฬาและเครื่องเล่น': 43,
 'ค่าเช่า': 43,
 'ค่าเรียนพิเศษ': 43,
 'ค่าเล่าเรียนและค่าธรรมเนียมการศึกษา': 43,
 'ค่าแรง': 43,
 'ค่าโดยสารนอกท้องถิ่น': 43,
 'ค่าโดยสารสาธารณะ': 43,
 'ค่าโดยสารในท้องถิ่น': 43,
 'ค่าใช้จ่ายส่วนบุคคล': 43,
 'ค่าใช้จ่ายอื่น ๆ เกี่ยวกับการศึกษา': 43,
 'ค่าใช้จ่ายเกี่ยวกับการทำสวนประดับบ้าน': 43,
 'ค่าใช้จ่ายเกี่ยวกับการอ่าน': 43,
 'ค่าใช้จ่ายเกี่ยวกับสัตว์เลี้ยง': 43,
 'ค่าใช้จ่ายในการเดินทางโอกาสพิเศษและท่องเที่ยว': 43,
 'ดัชนีราคาผู้บริโภคพื้นฐาน': 43,
 'ดัชนีราคาผู้บริโภคพื้นฐาน (ไม่รวมค่าเช่าบ้าน)': 43,
 'นมและผลิตภัณฑ์นม': 43,
 'น้ำตาลและขนมหวาน': 43,
 'น้ำประปา': 43,
 'น้ำมัน 91 , 95 , ดีเซล': 43,
 'น้ำมันเชื้อเพลิง': 43,
 'น้ำมันและไขมัน': 43,
 'บริภัณฑ์อื่น ๆ': 43,
 'บุรุษ': 43,
 'ปลาน้ำจืดสด': 43,
 'ปลาน้ำทะเลสด': 43,
 'ปลาแปรรูป': 43,
 'ปลาและสัตว์น้ำ': 43,
 'ผลิตภัณฑ์จากแป้ง': 43,
 'ผลิตภัณฑ์น้ำตาล': 43,
 'ผลิตภัณฑ์ยาสูบ': 43,
 'ผลิตภัณฑ์รองเท้า': 43,
 'ผลิตภัณฑ์สุรา': 43,
 'ผลิตภัณฑ์เบียร์': 43,
 'ผลิตภัณฑ์ไวน์': 43,
 'ผลไม้สด': 43,
 'ผลไม้สดแปรรูปและอื่นๆ': 43,
 'ผลไม้แปรรูปและอื่น ๆ': 43,
 'ผักสด': 43,
 'ผักสดแปรรูปและอื่นๆ': 43,
 'ผักแปรรูปและอื่นๆ': 43,
 'ผักและผลไม้': 43,
 'ผ้าและเสื้อผ้า': 43,
 'พลังงาน': 43,
 'ยานพาหนะ': 43,
 'ยานพาหนะและน้ำมันเชื้อเพลิง': 43,
 'รวมทุกรายการ': 43,
 'รองเท้ากีฬาและผ้าใบบุรุษ': 43,
 'รองเท้ากีฬาและผ้าใบสตรี': 43,
 'รองเท้ากีฬาและผ้าใบเด็ก': 43,
 'รองเท้าบุรุษ': 43,
 'รองเท้าสตรี': 43,
 'รองเท้าหุ้มส้นบุรุษ': 43,
 'รองเท้าหุ้มส้นสตรี': 43,
 'รองเท้าเด็ก': 43,
 'รองเท้าแตะบุรุษ': 43,
 'รองเท้าแตะสตรี': 43,
 'รองเท้าแตะเด็ก': 43,
 'วัสดุก่อสร้าง': 43,
 'สตรี': 43,
 'สัตว์น้ำ': 43,
 'สัตว์น้ำแปรรูป': 43,
 'สิ่งทอสำหรับใช้ในบ้าน': 43,
 'สิ่งที่เกี่ยวกับทำความสะอาด': 43,
 'หนังสือ': 43,
 'หนังสือแบบเรียนเอกชน': 43,
 'หนังสือและอุปกรณ์การศึกษา': 43,
 'หมวดการตรวจรักษาและบริการส่วนบุคคล': 43,
 'หมวดการบันเทิงการอ่าน การศึกษา และการศาสนา': 43,
 'หมวดพาหนะ การขนส่ง และการสื่อสาร': 43,
 'หมวดยาสูบและเครื่องดื่มมีแอลกอฮอล์': 43,
 'หมวดอาหารและเครื่องดื่มไม่มีแอลกอฮอล์': 43,
 'หมวดอื่น ๆ ไม่ใช่อาหาร และเครื่องดื่ม': 43,
 'หมวดเครื่องนุ่งห่มและรองเท้า': 43,
 'หมวดเคหสถาน': 43,
 'อาหารบริโภค-นอกบ้าน': 43,
 'อาหารบริโภค-ในบ้าน': 43,
 'อาหารปรุงที่บ้าน': 43,
 'อาหารสด': 43,
 'อาหารสำเร็จรูป': 43,
 'อาหารและเครื่องดื่ม (ไม่รวมอาหารสด)': 43,
 'อุปกรณ์กีฬา': 43,
 'อุปกรณ์ซ่อมแซมบ้าน': 43,
 'อุปกรณ์ยานพาหนะ': 43,
 'อุปกรณ์เกี่ยวกับการศึกษา': 43,
 'เครื่องดื่มมีแอลกอฮอลล์': 43,
 'เครื่องดื่มไม่มีแอลกอฮอล์': 43,
 'เครื่องถวายพระ': 43,
 'เครื่องประกอบอาหาร': 43,
 'เครื่องประดับบุรุษ': 43,
 'เครื่องปรุงรส': 43,
 'เครื่องปรุงอาหาร': 43,
 'เครื่องรับอุปกรณ์สื่อสาร': 43,
 'เครื่องสุขภัณฑ์': 43,
 'เครื่องแต่งบ้าน': 43,
 'เครื่องแต่งบ้านและบริภัณฑ์อื่นๆ': 43,
 'เครื่องแบบชาย': 43,
 'เครื่องแบบหญิง': 43,
 'เครื่องแบบเด็ก': 43,
 'เครื่องใช้เบ็ดเตล็ดในบ้าน': 43,
 'เชื้อเพลิงในบ้าน': 43,
 'เด็ก': 43,
 'เนื้อสัตว์': 43,
 'เนื้อสัตว์ เป็ดไก่ และสัตว์น้ำ': 43,
 'เนื้อสัตว์สด': 43,
 'เนื้อสัตว์แปรรูป': 43,
 'เป็ด ไก่': 43,
 'เป็ด ไก่  สด': 43,
 'เป็ด ไก่  สำเร็จรูปและแปรรูป': 43,
 'เวชภัณฑ์': 43,
 'เสื้อบุรุษ': 43,
 'เสื้อผ้าบุรุษอื่นๆ': 43,
 'เสื้อผ้าสตรีอื่นๆ': 43,
 'เสื้อผ้าเด็กอื่นๆ': 43,
 'เสื้อสตรี': 43,
 'เสื้อเด็ก': 43,
 'แป้ง': 43,
 'แป้งและผลิตภัณฑ์จากแป้ง': 43,
 'แสงสว่าง': 43,
 'ไข่': 43,
 'ไข่และผลิตภัณฑ์นม': 43,
 'ไฟฟ้า': 43,
 'ไฟฟ้า  เชื้อเพลิง  น้ำประปาและแสงสว่าง': 43,
 'ไม่รวมอาหาร เครื่องดื่ม และพลังงาน': 43}

## Save clean data to csv

In [103]:
df.to_csv('data/clean_data.csv', header=True, index=False, encoding='utf-8-sig')